@use 'variables' as *;

// Global Reset
html, body, #root {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background;
  color: $text;
  font-family: 'Inter', system-ui, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}